
<h4 style="text-align:center">Trade Portfolio Pie Chart </h4>

<!--<div style="display: block">
<canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
</canvas>
</div>-->