<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title">View One Trade</h5>
                <p class="card-text">Please use this page to edit trades and delete trades
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        Ticker : {{ data.ticker }}
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Quantity</th>
                                    <td>{{ data.quantity }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Amount</th>
                                    <td>{{ data.amount }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Trade Type</th>
                                    <td>{{ data.tradeType }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Trade Status</th>
                                    <td>{{ data.tradeStatus }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Date Created</th>
                                    <td>{{ data.dateCreated }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div><!-- col -->
    </div><!-- row-->
</div><!-- container -->
