<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title">Trade Advice</h5>
                <p class="card-text">Please use this page to check if you should buy/sell a specific
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="text" id="search" class="form-control" placeholder="Stock Ticker" aria-label="Search"
                        aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)='getAdvice()' type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf=showBox>
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    Ticker : {{ data.ticker }}
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Price</th>
                                <td>{{ data.price }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Trade Advice</th>
                                <td>{{ data.advice }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- col -->
    </div><!-- row-->
</div><!-- container -->