<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title">Create a Trade</h5>
                <p class="card-text">Please use this page to create a trade
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Please create a new trade using this form</h2>
            <form [formGroup]="createTradeForm">
                <div class="form-group">
                    <label for="ticker">Ticker</label>
                    <input type="text" id="ticker" name="ticker" class="form-control" formControlName="ticker"
                        [ngClass]="{'error': isInvalid('ticker')}">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" class="form-control" formControlName="quantity"
                        [ngClass]="{'error': isInvalid('quantity')}">
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" name="amount" class="form-control" formControlName="amount"
                        [ngClass]="{'error': isInvalid('amount')}">
                </div>
                <div class="form-group">
                    <label for="tradeType">Trade Type</label>
                    <select id="tradeType" name="tradeType" class="form-control" formControlName="tradeType">
                        <option value="Buy">Buy</option>
                        <option value="Sell">Sell</option>
                    </select>
                </div>
                <button type="submit" (click)='onSubmit() 'class="btn btn-primary">Submit</button>
            </form>
        </div>
        <!--col-->
    </div>
    <!--row-->
</div>
<!--container-->