<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title">View All Trades</h5>
                <p class="card-text">Please use this page to view all trades you have made
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let item of data">
                <div class="card text-white bg-primary mb-3" [routerLink]="['/individual', item.id]" style="cursor: pointer">
                    <div class="card-header">
                        Ticker : {{ item.ticker }}
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Quantity</th>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Amount</th>
                                    <td>{{ item.amount }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Trade Type</th>
                                    <td>{{ item.tradeType }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Trade Status</th>
                                    <td>{{ item.state }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Date Created</th>
                                    <td>{{ item.dateCreated }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- col -->
    </div><!-- row-->
</div><!-- container -->
