<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title">Create an Commodity</h5>
                <p class="card-text">Please use this page to create an create
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Please create a new commodity using this form</h2>
            <form [formGroup]="createCommodityForm">
                <div class="form-group">
                    <label for="ticker">Ticker</label>
                    <input type="text" id="ticker" name="ticker" class="form-control" formControlName="ticker"
                        [ngClass]="{'error': isInvalid('ticker')}">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" class="form-control" formControlName="quantity"
                        [ngClass]="{'error': isInvalid('quantity')}">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" id="price" name="price" class="form-control" formControlName="price"
                        [ngClass]="{'error': isInvalid('price')}">
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" class="form-control" formControlName="state"
                        [ngClass]="{'error': isInvalid('state')}">
                </div>
                <button type="submit" (click)='onSubmit() 'class="btn btn-primary">Submit</button>
            </form>
        </div>
        <!--col-->
    </div>
    <!--row-->
</div>
<!--container-->