<article class='jumbotron bg-grey text-black'>

  <article class='jumbotron bg-dark text-white'>

    <div class="container">
      <div class="row">
        <div class="col-md-4"><img src="assets/images/logo.png" image-resizing image-Height="40px" image-Width="40px" />
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><app-pie-chart></app-pie-chart></div>
      </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Trade - X</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trades">View Trades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createtrade">Create Trade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bonds">View Bonds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/commodities">View Commodities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createcommodity">Create Commodity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/equities">View Equities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createequity">Create Equity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bollinger">View Stock Advice</a>
          </li>
        </ul>
      </div>
    </nav>

  </article>
</article>
<router-outlet></router-outlet>