<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title">Bonds</h5>
                <p class="card-text">Please use this page to view your bonds
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let item of data">
                <div class="card text-white bg-primary mb-3" [routerLink]="['/bonds', item.id]" style="cursor: pointer">
                    <div class="card-header">
                        Name : {{ item.name }}
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Maturity Date</th>
                                    <td>{{ item.maturityDate }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Date Created</th>
                                    <td>{{ item.dateCreated }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Face Value</th>
                                    <td>{{ item.faceValue }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Quantity</th>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Yield</th>
                                    <td>{{ item.yield }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Coupon</th>
                                    <td>{{ item.coupon }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">State</th>
                                    <td>{{ item.state }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- col -->
    </div><!-- row-->
</div><!-- container -->

